<div class="card bg-secondary">
<%= bootstrap_form_with(model: status, local: true) do |form| %>
  <% if status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= form.hidden_field :user_id, value: current_user.id, required: true %>

  <div class="field">
    <%= form.label :brief, 'A brief description of your situation (max 120 characters)' %>
    <%= form.text_field :brief, maxlength: 120 %>
  </div>

  <div class="field">
    <%= form.label :rating, 'Rate your level of safety/security [physical, emotional, financial, medical] from 1(good) to 10(bad), enter 0 to not disclose. This will change the color of your row.' %>
    <%= form.number_field :rating, min: 0, max: 10 %>
  </div>

  <div class="field">
    <%= form.label :long, 'Write as much as you want here' %>
    <%= form.cktext_area :long %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
