<p id="notice"><%= notice %></p>

<h2>My Status</h2>

<div class="card bg-secondary
<% if current_user.status %>
      <% if current_user.status.rating %>
     bgcolor<%= current_user.status.rating %>
    <% end %>
    <% end %>">
  <div class="card-header" id="heading<%= current_user.id %>">
        <h5 class="card-title">
        <%= current_user.name %>

      </h5>

    <span class="text-black"><% if current_user.status %>
    <% if current_user.status.brief %>
  <%= current_user.status.brief %>
  <% end %>
  <% end %></span>
  </div>


    <div class="card-body">
      <p class="card-text">
        <% if current_user.status %>
        <% if current_user.status.long %>
      <%= simple_format(current_user.status.long, {}, sanitize: false)%>
      <% end %>
      <% end %>
    </p>
    </div>
  </div>


<% if current_user.status %>
        <%= link_to 'Edit', edit_user_status_path(current_user, current_user.status) %>
    <% end %>

<br>

<%= link_to 'New Status', new_status_path %>
