<div class="responseform" id="responseform<%= notification.id %>"><%= form_tag('/notifications/tomod/', method: 'get' ) do %>
<% user = User.find_by_id(user_id) %>
  <div class="form-inputs">
    <%= hidden_field_tag :user_id, params[:user_id], value: user_id %>
        <%= hidden_field_tag :flag_id, params[:flag_id], value: flag_id %>
    <%= text_area_tag :body, params[:body], :required => true, :placeholder => "Send a message to the mods" %>
  </div>

  <div class="form-actions">
    <%= submit_tag "Respond to #{user.name}" %>
  </div>
<% end %>
</div>
