<%= form_with(model: [bulbable, bulb], local: true) do |form| %>
  <% if bulb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulb.errors.count, "error") %> prohibited this bulb from being saved:</h2>

      <ul>
      <% bulb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <%= form.hidden_field :color, value: color %>




<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  <i class="fas fa-lightbulb <%= color %>"></i>   <%= bulbable.bulbs.where(color: color).count %>
    <% end %>

<% end %>
