<div class="submitform">
<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :id_code, value: @video_id, :required => true %>
    <%= form.hidden_field :provider, value: @provider, :required => true %>
    <%= form.hidden_field :thumbnail, value: @thumbnail, :required => true %>
    <%= form.hidden_field :embed_url, value: @embed_url, :required => true %>
    <%= form.hidden_field :embed_code, value: @embed_code, :required => true %>
    <%= form.hidden_field :duration, value: @duration, :required => true %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, value: @title, :required => true, :maxlength => 255 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, value: @description, :required => true %>
  </div>

  <div class="field">
    <%= form.label :tags, "Separate tags with commas" %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.label :category1, "Categories" %>
    <%= form.select :category1, options_for_select(@categories), {:include_blank => 'Select A Category'}, {:required => true, :class => 'select'} %>
    <%= form.select :category2, options_for_select(@categories), {:include_blank => 'Select A Category'} %>
  </div>
<div id="captchabox">
<%= recaptcha_tags %>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
