  <div class="box">
    <% if current_user.permission.can_post_video == true %>

<% if @dupes.first != nil %>
  <% @dupes.each do |video| %>

  <h2>Duplicate video found</h2>
  <center>
    <p>
    <img class="centered-image" src="<%= video.thumbnail %>">
  </p>
    <p>
    <%= link_to video.title, video_path(video) %> posted on <%= video.created_at.strftime("%B %e, %Y") %> by <%= link_to video.user.name, user_path(video.user) %></center>
</p>
  <% end %>
<% else %>
no dupes found
<div><img class="centered-image" src="<%= @thumbnail %>"></div>
<div><%= render 'form', video: @video %></div>

<%  end %>
<%  end %>
  </div>
