<div class="vidplayergrid">
  <div>
      <%= @video.embed_code.html_safe %>
  </div>
  <div>
    <div class="title full">
    <h4>
      <%= @video.title %>
    </h4>
  </div>

      <p>Posted by <%= @video.user.name %> on <%= @video.created_at.strftime("%B %e, %Y") %></p>


    <p>
      <%= @video.description %>
    </p>


<p>
    <span class="category"><%= @video.category1 %></span><span class="category"><%= @video.category2 %></span>
  </p>



    <p>
      <% @tags.each do |tag| %>
      <span class="tag"> <%= link_to tag, videos_tags_path(query: tag) %> </span>
      <% end %>
    </p>


  <div class="bulbs inline">
    <p>
      <% if Bulb.where("user_id = ? and bulbable_type = ? and bulbable_id = ?", current_user.id, "Video", @video.id).exists? %>

      <%= render 'bulbs/disabled', bulbable: @video, color: "green" %>
      <%= render 'bulbs/disabled', bulbable: @video, color: "red" %>
      <% else %>
<%= render 'bulbs/form', bulbable: @video, bulb: @bulb, color: "green" %>
<%= render 'bulbs/form', bulbable: @video, bulb: @bulb, color: "red" %>
<% end %>
<button class="bulbs inline" onclick="showBulbers('video',<%= @video.id %>)">?</button>
</p>
</div>
<div class="bulbers collapsed" id="videobulbers<%= @video.id %>">
  green:
  <% greenbulbers(@video).each do |bulber| %>
  <span class="bulber"><%= bulber.name %></span>
  <% end %>
  <br>
  red:
  <% redbulbers(@video).each do |bulber| %>
  <span class="bulber"><%= bulber.name %></span>
  <% end %>
</div>

  </div>
</div>
<div class="comments">
  <%= render 'comments/form', comment: @comment %>

<%= render partial: 'comments/comment', collection: @video.comments %>

</div>
