<%= render 'layouts/nav2' %>
<div class="accordion" id="allusers">
<% if @users %>
<% @users.each do |user| %>
<div class="card bg-secondary
<% if user.status %>
      <% if user.status.rating %>
     bgcolor<%= user.status.rating %>
    <% end %>
    <% end %>">
  <div class="card-header" id="heading<%= user.id %>">

    <% if user.status %>
    <% if !user.status.long.blank? %>

      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= user.id %>" aria-expanded="false" aria-controls="collapse<%= user.id %>">
        <h5 class="card-title buttonlink">
          <%= user.name %>
      </h5>
      </button>

<% else %>

  <h5 class="card-title bump">
    <%= user.name %>
  </h5>

<% end %>

<% else %>

  <h5 class="card-title bump">
    <%= user.name %>
  </h5>
<% end %>

    <span class="text-black"><% if user.status %>
    <% if !user.status.brief.blank? %>
  &middot; <%= user.status.brief %>
  <% end %>
<% end %>

<% if user.status %>
&middot; Last updated
<%= user.status.updated_at.strftime("%b %e, %Y") %>
  <% end %>
</span>
  </div>

  <% if user.status %>
  <% if user.status.long %>

  <div id="collapse<%= user.id %>" class="collapse" aria-labelledby="heading<%= user.id %>" data-parent="#allusers">
    <div class="card-body">
      <p class="card-text">

      <%= simple_format(user.status.long, {}, sanitize: false)%>

    </p>
    </div>
  </div>

  <% end %>
  <% end %>

</div>

<% end %>
<% end %>
<%= will_paginate @users %>
