<div class="box rules">
  <% if current_user.permission.is_admin? %>
  Grant and revoke mod powers
  Mods
<ul>
  <% @mods.each do |mod| %>
<li>  <%= mod.name %><%= render 'pages/togglemod', user: mod %></li>
  <% end %>
</ul>
  <% end %>
Users
  <ul>
    <% @users.each do |user| %>
  <li>  <%= user.name %><%= render 'pages/togglemod', user: user %></li>
    <% end %>
  </ul>
<%= render 'layouts/pagination', videos: @users %>
</div>
