 <div class="columns">

  <div class="leftbar">
    <% if current_user.permission.can_post_video == true %>
    <%= render 'videos/checkform', video: @video %>
    <% else %>
    <div class="banbox">
      You are banned from submitting videos until <%= current_user.permission.video_ban_end.strftime("%B %e, %Y") %> for:<br> <%= current_user.permission.reason_for_ban %>
    </div>
    <% end %>
    <br>
    <%= link_to "Your Profile", user_path(current_user) %>
    <br>
    <%= link_to "Rules", rules_path %><br>
    <% if current_user.permission.is_mod == true %>
    <br>You are a mod<br>
    <%= link_to "Mod panel", mod_path %><br>
    <% end %>

        <%= link_to "Most Viewed Videos", top_viewed_path %><br>
        <%= link_to "Most Loved Videos", top_loved_path %><br>
        <%= link_to "Most Hated Videos", top_hated_path %><br>
        <%= link_to "Most Controversial Videos", top_controversial_path %><br>
                <% if current_user.permission.is_horny? %>
                    <%= link_to "NSFW Videos", nsfw_path %><br>
                  <% end %>
              <%= render 'permissions/nsfwform', user: current_user %>
  </div>

  <div>
    <%= render 'videos/allvideos' %>
  </div>

  <div>
  </div>

</div>
