<%= simple_form_for([user, user.permission], local: true) do |form| %>
  <% if user.errors.any? %>
    <span id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </span>
  <% end %>

  <div class="field">
  <h3><%= user.name %></h3>
  </div>
<div class="bangrid">
<div>
    <%= form.label :can_post_video %>
    <%= form.check_box :can_post_video %>
</div>
<div>
    <%= form.label :can_comment %>
    <%= form.check_box :can_comment %>
</div>
<div>
    <%= form.label :can_bulb %>
    <%= form.check_box :can_bulb %>
</div>

<div>
    <%= form.input :video_ban_end, as: :date, html5: true %>
  </div>
  <div>
    <%= form.input :comment_ban_end, as: :date, html5: true %>
      </div>
      <div>
    <%= form.input :bulb_ban_end, as: :date, html5: true %>
      </div>
  </div>
  <div class="field">
    <%= form.label :reason_for_ban %>
    <%= form.text_area :reason_for_ban %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
