
<%= simple_form_for(playlist, local: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.label :category1, "Categories" %>
    <%= f.select :category1, options_for_select(@categories, f.object.category1 || playlist.category1), {:include_blank => 'Select A Category'}, {:required => true, :class => 'select'} %>
    <%= f.select :category2, options_for_select(@categories, f.object.category2 || playlist.category2), {:include_blank => 'Select A Category'} %><br>
    <%= f.input :tags %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
