<nav class="navbar fixed-top navbar-dark bg-dark">

    <span class="nav-item">
  <%= link_to root_path, :class => 'navbar-link' do %>
    <i class="fas fa-home"></i>
  <% end %>
</span>
<% if user_signed_in? %>
<span class="navbar-text">
    <%= link_to user_path(current_user), :class => 'nav-link' do %>
  <i class="fas fa-user"></i><strong> <%= current_user.name %></strong>
    <% end %>
</span>
<span class="nav-item">
  <%= link_to destroy_user_session_path, method: :delete, :class => 'nav-link' do %>
  <i class="fas fa-sign-out-alt"></i>
  <% end %>
</span>
<% else %>
<span class="nav-item">
  <%= link_to "Create Account", new_user_registration_path, :class => 'nav-link'  %>
</span>
  <span class="nav-item">
  <%= link_to new_user_session_path, :class => 'nav-link' do %>
  <i class="fas fa-sign-in-alt"></i>
  <% end %>
</span>
<% end %>

</nav>
