<div class="search" id="search">
  <h4>Search</h4>
<%= form_tag('/videos/search/', method: 'get' ) do %>
    <%= text_field_tag :terms, params[:terms], placeholder: "Search terms" %>
      <div class="group"  id="searchoptions">

        <%= label_tag "Title" %>
    <%= check_box_tag :use_title, params[:use_title], checked = true %>
    <%= label_tag "Tags" %>
<%= check_box_tag :use_tags, params[:use_tags] %>
          <%= label_tag "Description" %>
        <%= check_box_tag :use_description, params[:use_description] %>
</div>
        <div class="group">
          <%= label_tag "Search Videos" %>
            <%= check_box_tag :search_videos, params[:search_videos], checked = true, { disabled: false, onclick: "uncheck('search_playlists', 'search_comments')" } %>
        <%= label_tag "Search Playlists" %>
          <%= check_box_tag :search_playlists, params[:search_playlists], checked = false, { disabled: false, onclick: "uncheck('search_videos', 'search_comments')" } %>
          <%= label_tag "Search Comments" %>
            <%= check_box_tag :search_comments, params[:search_comments], checked = false, { disabled: false, onclick: "chooseComments()" } %>
        </div>
          <div class="group">
        <%= label_tag "Search by Username" %>
      <%= check_box_tag :use_name, params[:use_name], checked = false, { disabled: false, onclick: "toggleSearch()" } %>
    </div>
    <div id="usernameSearch" class="invisible">
            <%= text_field_tag :username, params[:username], placeholder: "Username" %>
          </div>
    <%= button_tag :submit do %>
    Submit
<% end %>

<% end %>
</div>
