<!DOCTYPE html>
<html>
  <head>
    <title>BoTV</title>
    <meta property="og:title" content="BoTV">
    <meta property="og:description" content="BoTV: let's fight about videos with friends.">
    <meta property="og:image" content="<%= image_path('piggy.png') %>">
    <meta property="og:url" content="https://www.bo-tv.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="BoTV">
    <meta name="twitter:image:alt" content="BoTV: let's fight about videos with friends.">
    <meta property="fb:app_id" content="716617842409791" />
    <meta name="twitter:site" content="@boat_eevee">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
<link href="https://fonts.googleapis.com/css2?family=Cabin&family=Karla&display=swap" rel="stylesheet">
<%= javascript_include_tag Ckeditor.cdn_url %>
<%= javascript_include_tag "//www.google.com/jsapi" %>
<%= javascript_include_tag "application", "chartkick" %>.
  </head>

  <body>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '716617842409791',
          cookie     : true,
          xfbml      : true,
          version    : 'v6.0'
        });

        FB.AppEvents.logPageView();

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<% if @fullscreen == true %>

  <%= yield %>

    <% else %>

    <div class="columns">

    <%= render 'layouts/sidebar' %>
     <div>
      <%= yield %>
     </div>

     <div>
     </div>

    </div>

    <% end %>

  </body>
</html>
